name: Werewolves Assistant API Lint Pull Request Name Into Main Workflow

on:
  pull_request:
    branches:
      - "develop"
    types:
      - opened
      - edited
      - reopened
      - synchronize
jobs:
  main-pr-lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: List open PR into main
        run: | 
          OPEN_PR_INTO_MAIN=$(gh pr list --state open -B main --search "Release in:title")
          echo $OPEN_PR_INTO_MAIN